<div class="container is-flex is-flex-direction-column">
  <div class="box">
    <div class="content">
      <p>
        The purpose of this test is to ensure that streams are unsubscribed when the pipe is
        destroyed.
      </p>

      <blockquote *ngIf="shown">{{ '' | i18n }}</blockquote>

      <div data-cy="pipe-status" [class]="pipeUnsubscribedClass$ | async">
        {{ pipeUnsubscribedText$ | async }}
      </div>
    </div>
  </div>

  <button data-cy="toggle-pipe" class="button is-link is-light" (click)="toggle()">
    Toggle pipe
  </button>
</div>
