<div class="container is-flex is-flex-direction-column">
  <div class="box">
    <div class="content">
      <p>
        The purpose of this test is to ensure that inheritance from directives and abstract
        classes will work as expected. Note that there have been different issues:
      </p>
      <ol>
        <li>
          `Issue61Component` extends from the `Issue61BaseDirective`. Component is decorated
          with `@UntilDestroy()` but directive is not
        </li>
        <li>
          `Issue97Component` extends the from `Issue97Directive`. Directive is decorated with
          `@UntilDestroy()` but component is not
        </li>
      </ol>

      <app-issue-61 *ngIf="issue61Shown"></app-issue-61>
      <app-issue-97 *ngIf="issue97Shown"></app-issue-97>

      <blockquote data-cy="issue-61-status" *ngIf="issue61Status$ | async as issue61Status">
        Issue#61 directive unsubscribed {{ issue61Status.directiveUnsubscribed }} and component
        unsubscribed {{ issue61Status.componentUnsubscribed }}
      </blockquote>

      <blockquote data-cy="issue-97-status" *ngIf="issue97Status$ | async as issue97Status">
        Issue#97 component unsubscribed {{ issue97Status.componentUnsubscribed }}
      </blockquote>
    </div>
  </div>

  <button data-cy="toggle-issue-61" class="button" (click)="toggleIssue61()">
    Toggle issue#61
  </button>
  <button data-cy="toggle-issue-97" class="button" (click)="toggleIssue97()">
    Toggle issue#97
  </button>
</div>
