<div class="container is-flex is-flex-direction-column">
  <div class="box">
    <div class="content">
      <p>
        The purpose of this test is to ensure that streams are unsubscribed when directives are
        destroyed.
      </p>

      <blockquote *ngIf="shown">
        <ng-container *http="let response">{{ response }}</ng-container>
      </blockquote>

      <div data-cy="directive-status" [class]="directiveUnsubscribedClass$ | async">
        {{ directiveUnsubscribedText$ | async }}
      </div>
    </div>
  </div>

  <button data-cy="toggle-http-directive" class="button is-link is-light" (click)="toggle()">
    Toggle
  </button>
</div>
