<div class="container is-flex is-flex-direction-column">
  <div class="box">
    <div class="content">
      <p>
        The purpose of this test is to ensure that streams are unsubscribed when
        `ngOnDestroy()` is called on providers that are bound to components and directives
        (that are declared in `providers` property of components and directives).
      </p>

      <ng-container *ngIf="shown" connection></ng-container>

      <div data-cy="provider-status" [class]="providerStatusClass$ | async">
        {{ providerStatusText$ | async }}
      </div>
    </div>
  </div>

  <button data-cy="toggle-provider" class="button is-link is-light" (click)="toggle()">
    Toggle
  </button>
</div>
