<div class="container is-flex is-flex-direction-column">
  <div class="box">
    <div class="content">
      <p>
        The purpose of this test is to ensure that it's possible to use multiple custom methods
        that can be passed into `untilDestroyed` operator.
      </p>

      <blockquote>
        <button data-cy="start-first" class="button is-info is-light" (click)="startFirst()">
          startFirst()
        </button>
        <button data-cy="stop-first" class="button is-info is-light" (click)="stopFirst()">
          stopFirst()
        </button>
        <button data-cy="start-second" class="button is-info is-light" (click)="startSecond()">
          startSecond()
        </button>
        <button data-cy="stop-second" class="button is-info is-light" (click)="stopSecond()">
          stopSecond()
        </button>
      </blockquote>

      <blockquote *ngIf="issue66Status$ | async as issue66Status">
        Issue#66 status:
        <div data-cy="issue-66-status-first-stream">
          first stream started {{ issue66Status.firstStreamStarted }} and first stream stopped
          {{ issue66Status.firstStreamStopped }}
        </div>
        <div data-cy="issue-66-status-second-stream">
          second stream started {{ issue66Status.secondStreamStarted }} and second stream
          stopped {{ issue66Status.secondStreamStopped }}
        </div>
      </blockquote>
    </div>
  </div>
</div>
